DEV_ID={{ vault_dev_id }}
MAP_SERVICE_API_KEY={{ vault_map_service_api_key }}
TELEGRAM_TOKEN={{ vault_telegram_token }}
PORT={{ tg_port }}
MODE={{ tg_mode }}
# Webhook operation mode
#URL_PATH={{ tg_url_path }}
#CERT={{ tg_cert }}
#KEY={{ tg_cert_key }}
WEBHOOK_URL={{ tg_webhook_url }}
WEBHOOK_SECRET={{ vault_webhook_token }}
